<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Birthdat Candles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
<body class ="yui3-skin-sam" >

<div style="width:96%; overflow:hidden; position:absolute; left:2%; top:100px">
	<p>Happy Birthday	</a>

	<p id="candle0">-</p>
	<p id="candle1">-</p>
	<p id="candle2">-</p>
	<p id="candle3">-</p>
  </div>
 
  </div>
</body>
<footer>
     <script src="{{ url_for('static',filename='happybirthday.js') }}"></script>
</footer>

